.block{
    display:block;
}

.left{
    float:left;
}

.right{
    flota:right;
}

.clear{
    clear:both;
}

.text-align-left{
    text-align:left !important;
}

.mdl-card__supporting-text {
  width: 96% !important;
}

.demo-card-wide.mdl-card {
  width: 900px;
  margin:auto;
  margin-top: 3%;
}

.demo-card-wide > #cabeceraTarxetaInicio {
  color: #fff;
  height: 176px;
  background: url('../images/online-music.bmp') center / cover;
  background-repeat: no-repeat;
  background-size: 239px;
  background-color: #0194E1;
}

.demo-card-wide > #cabeceraTarxetaCarrito {
  color: #fff;
  height: 176px;
  background: url('../images/ic_shopping_cart_white_24px.svg') center / cover;
  background-repeat: no-repeat;
  background-size: 185px;
  background-color: #0194E1;
}

.demo-card-wide > #cabeceraTarxetaInicioError {
  color: #fff;
  height: 176px;
  background: url('../images/flamenco.png') center / cover;
  background-repeat: no-repeat;
  background-size: 179px;
  background-color: #F44336;
}

table{
  width: 100%;
}


.formulario-busqueda{
  margin-left: 20px;
  padding: 20px;
}

