<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID"
         version="3.1">

  <display-name>DAWA - Practica 4</display-name>

  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>rc.diego.controller.Controller</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <description>Amazon RDL web Database</description>
    <res-ref-name>jdbc/localhost</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>


</web-app>